<h3 class="experience">OnnetSystems India Pvt. Ltd. | Software Engineer (October 2024 – Present)</h3>
<ul>
    <li>Built responsive UI components using Angular, HTML, CSS, and TypeScript.</li>
    <li>Integrated REST APIs and displayed dynamic data using services & observables.</li>
    <li>Designed clean layouts using Flexbox, Grid, and media queries for mobile responsiveness.</li>
    <li>Fixed UI bugs, optimized performance, and improved overall user experience.</li>
    <li>Used Git & GitHub for version control, committing, branching, and pushing changes.</li>
</ul>

<!-- <ul>
    <li>Built fully responsive and interactive UI components using Angular, HTML, CSS, and TypeScript, 
        ensuring smooth user interactions across desktop and mobile devices.</li>
    <li>Integrated multiple REST APIs by creating Angular services and handling dynamic data flow using Observables, 
        enabling real-time updates and seamless data presentation.</li>
    <li>Designed and implemented clean, modern layouts using Flexbox, CSS Grid, and media queries, 
        improving mobile responsiveness and enhancing visual consistency across the application.</li>
    <li>Fixed UI bugs, optimized performance, and improved overall user experience.</li>
    <li>Used Git and GitHub for version control, following proper branching workflows, performing code reviews, 
        and maintaining clean commit history for collaborative development.</li>
</ul> -->