<div class="about">
    <div class="paragraph">
        <p>Hi, I’m Disha M — a Front-End Developer who loves transforming ideas into clean, beautiful, and responsive web experiences. I enjoy working with 
            Angular, HTML, CSS, JavaScript, and TypeScript to build modern, user-friendly interfaces that focus on simplicity and performance.
        </p>
        <p>I’m passionate about writing clean code, creating smooth UI interactions, 
            and exploring UI/UX design. I enjoy integrating APIs, optimizing performance, and building reusable Angular components. 
            My goal is to grow as a Front-End Developer, contribute to meaningful projects, and create interfaces that feel smooth, intuitive, and enjoyable to use.
        </p>
    </div>
    <hr class="hr">
    <div class="list">What I Do:
        <ul>
            <li>Build responsive, modern web pages</li>
            <li>Develop Angular components and services</li>
            <li>Integrate APIs and handle real-time data</li>
            <li>Create clean, aesthetic UI layouts</li>
            <li>Debug, test, and improve performance</li>
        </ul>
        <p> When I’m not coding, I love exploring new designs, watching tech videos, and learning creative front-end
            animations.</p>
    </div>
</div>