<nav class="navbar">
<div class="logo">My Portfolio</div>

<div class="menu-icon" *ngIf="isMobile" (click)="toggleMenu()">
   <i class="fa-solid fa-bars" *ngIf="!menuOpen"></i>
   <i class="fa-solid fa-xmark" *ngIf="menuOpen"></i>
  </div>
  <ul [class.active]="menuOpen">
   <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/about" routerLinkActive="active">About</a></li>
    <li><a routerLink="/skills" routerLinkActive="active">Skills</a></li>
    <li><a routerLink="/projects" routerLinkActive="active">Projects</a></li>
    <li><a routerLink="/education-experience" routerLinkActive="active">Education and Experience</a></li>
  </ul>
</nav>

