.background-gradient {
  
  z-index: -1; /* send it behind the router-outlet */
  filter: blur(0.09rem);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  z-index: -1;
  pointer-events: none;
  background-attachment: fixed;
  background-image: url("../assets/images/background-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;                 
  justify-content: center;        
  align-items: center;  
}

.content-box {
  position: relative;
  z-index: 1; /* keep it above background */
  margin: 4rem auto;
  width: 80vw;
  height: 70vh;
  padding: 1.5rem;
  text-align: center;
  background: rgba(255, 255, 255, 0.15); /* transparent glass effect */
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2rem);
  color: white;
  font-family: "Poppins", sans-serif;
}

@media (max-width: 768px) {
  .content-box {
    width: auto;
    height: auto;
    margin: 1rem auto;
    padding: 1.2rem;
    font-size: 0.9rem;
  }
}
