<div class="home" *ngIf="!showContact">
    <diV class="profile">
        <h3>Hello,</h3>
        <h3>Welcome to My Portfolio</h3>
        <h2>This is Disha Madev Tandel</h2>
        <h4>I'am a Software Engineer</h4>
        <div class="details">

            <a href="assets/images/Disha M_Resume.pdf" download="Disha M_Resume">
                <button>Download CV</button>
            </a>
           <a routerLink="contact" routerLinkActive="active" class="button" (click)="onContactClick()">Contact me</a>

            <a href="https://www.linkedin.com/in/disha-madev-tandel-899a122a6" target="_blank">
                <img src="assets/images/linkedin-brands.svg" alt="linkedin-logo"></a>
            <a href="https://github.com/dashboard" target="_blank">
                <img src="assets/images/github-brands.svg" alt="github-logo"></a>
       
            
        </div>
    </diV>
    <div>
        <img src="assets/images/profile.jpg" class="home-image" alt="home image">
    </div>
</div>

<app-contact *ngIf="showContact"></app-contact>